<html>
	<head>
		<title>
			Django DAW blog
		</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django DAW Blog</a></h1>
		</div>

		<div>
			<p>published: 21.05.2017, 08:58</p>
			<h2><a href="">My First Post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sen lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit anet.</p>
		</div>

		<div>
			<p>published: 21.05.2017, 08:58</p>
			<h2><a href="">My Second Post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sen lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit anet.</p>
		</div>
	</body>
</html>
